		body{
			background-image:url(fon.jpg);
			background-size: cover;
			background-repeat:no-repeat;
			background-attachment: fixed;
			margin: 2%;
			
			overflow:auto;
			position:absolute;
			
			font-size:18px;
			font-family:"Comic Sans MS", cursive;
			color: white;
			
			
			
		}
		.headline{
			font-size:24px;
		}
		.paragf{
			margin-top: 0px;
			margin-bottom: 0px;
			font-size:18px;
			float:left;
		}
			
			
			
		/*   СТИЛЬ ТАБЛИЦЫ  */
		

		table{
			width:auto;
			height:320;
			border-spacing: 10px;
			table-layout:fixed;
		}
		table td{
			border: 1px solid white;
			width: 105px;
			height: 105px;
			border-radius: 100%;
			text-align: center;
			background-image:url(bubble1.png);
			background-size:100%;
			opacity: 3;
			background-repeat:no-repeat;
		}
		
		
		
		
		
		/*   КРАБ  */
		
		
		.helper{
			width:120px;
			height:75px;
			float:right;
			right: 10%;
		}
		.helper:hover{
		}
		.white {
			 width: 20px;
			 height: 20px;
			 top:10px;
			 border-radius: 50%;
			 display:inline-block;
		} 
		.eye {
			 width: 10px;
			 height: 10px;
			 border-radius: 50%;
			 background-color: black;
			 position: absolute;
			 
		}	 
		.yes{
			display:none;
			margin:0px;
			padding:0px;
		}
		.max{
			display:block;
		}
		.min{
			display:none;
		}
			 
			 
		/*   СООБЩЕНИЕ КРАБА  */
			 
		
		.sos{
			display:none;
			position:fixed;
			right: 12%;
			top: 25%;
			border:2px solid #CCC;
			border-radius:20px;
			color:#333;
			background-color:#FFF;
			padding:10px;
			opacity: 0.9;
			color:#000;
			z-index:10;
			box-shadow: 0 8px 15px rgba(0,0,0,.5);
		}
		.helper:hover .sos{
			display:block;
		}
	
		
		/*   СООБЩЕНИЯ ОБ ОШИБКЕ  */
		.error{
			color:#FF82AB;
			display:none;
			position:absolute;
		}
		.massage{
			font-size:25px;
			color:#fff!important;
			text-shadow: 1px 1px 1px #000;
			display:none;
		}
		



		
		/*   КНОПКИ  */
		
		
		.create{
		  text-decoration: none;
		  outline: none;
		  display: inline-block;
		  width: 140px;
		  height: 45px;
		  line-height: 45px;
		  border-radius: 30px;
		  margin: 10px 10px;
		  font-family: 'Comic Sans MS', sans-serif;
		  font-size: 11px;
		  text-transform: uppercase;
		  text-align: center;
		  letter-spacing: 3px;
		  font-weight: 600;
		  color: #524f4e;
		  background: white;
		  box-shadow: 0 8px 15px rgba(0,0,0,.1);
		  transition: .3s;
  		}
		.create:hover {
		  background: #2EE59D;
		  box-shadow: 0 15px 20px rgba(46,229,157,.5);
		  color: white;
		  transform: translateY(-7px);
		}
		.delete{
		  text-decoration: none;
		  outline: none;
		  display: inline-block;
		  width: 140px;
		  height: 45px;
		  line-height: 45px;
		  border-radius: 30px;
		  margin: 10px 10px;
		  font-family: 'Comic Sans MS', sans-serif;
		  font-size: 11px;
		  text-transform: uppercase;
		  text-align: center;
		  letter-spacing: 3px;
		  font-weight: 600;
		  color: #524f4e;
		  background: white;
		  box-shadow: 0 8px 15px rgba(0,0,0,.1);
		  transition: .3s;
  		}
		.delete:hover {
		  background: #FF82AB;
		  box-shadow: 0 15px 20px rgba(255,130,170,.7);
		  color: white;
		  transform: translateY(-7px);
		}
		.check{
		  text-decoration: none;
		  outline: none;
		  display: inline-block;
		  width: 140px;
		  height: 45px;
		  line-height: 45px;
		  border-radius: 30px;
		  margin: 10px 10px;
		  font-family: 'Comic Sans MS', sans-serif;
		  font-size: 11px;
		  text-transform: uppercase;
		  text-align: center;
		  letter-spacing: 3px;
		  font-weight: 600;
		  color: #524f4e;
		  background: white;
		  box-shadow: 8px 0 15px rgba(0,0,0,.1);
		  transition: .3s;
  		}
		.check:hover {
		  background: #87CEFA;
		  box-shadow: 0 15px 20px rgba(8,125,239,1);
		  color: white;
		  transform: translateY(-7px);
		}
		.secret{
		  text-decoration: none;
		  outline: none;
		  display: inline-block;
		  width: 140px;
		  height: 45px;
		  line-height: 45px;
		  border-radius: 30px;
		  margin: 10px 10px;
		  font-family: 'Comic Sans MS', sans-serif;
		  font-size: 11px;
		  text-transform: uppercase;
		  text-align: center;
		  letter-spacing: 3px;
		  font-weight: 600;
		  color: #524f4e;
		  background: white;
		  box-shadow: 0 8px 15px rgba(0,0,0,.1);
		  transition: .3s;
  		}
		.secret:hover {
		  background: #EE82EE;
		  box-shadow: 0 15px 20px rgba(238,130,238,.7);
		  color: white;
		  transform: translateY(-7px);
		}



		@media screen and (max-width: 1000px){
			body{
				font-family:"Arial", cursive;
				font-size:24px;
			}
			.paragf{
				font-size:24px;
			}
			.headline{
			font-size:36px;
			}
			.sos{
				position:absolute;
				top: 400px;
				right:20%;
				display:block;
			}
			.max{
				display:none;
			}
			.min{
				display:block;
			}
			.yes{
				display:block;
			}
			.eye {
				display:none;
			}
			.white {
				display:none;
			}
		}	
		@media screen and (min-height: 1000px){
			.sos{
				position:absolute;
				top: 250px;
				right:20%;
				display:block;
			}
		}
